<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
</head>
<body>
    
    <div id="root"></div>

    {% load static %}
    <script src="{% static "queue/js/profile/2.56433392.chunk.js" %}"></script>
    <script src="{% static "queue/js/profile/main.4dbbc257.chunk.js" %}"></script>
    <script src="{% static "queue/js/profile/runtime~main.a8a9905a.js" %}"></script>

    <script>
        fetch(`{%url 'queue:get_user_services' user.username %}`)
        .then((response)=>{return response.json()})
        .then((response)=>{
            for(var i=0;i<response.length;i++){
                var services = profile.state.managedServices;
                services.push({...response[i],'href':'{{request.scheme}}://{{request.get_host}}/servicemanager/'+response[i].id});
                window.profile.setState({'managedServices':services});
            }
        })


        window.profile.setState({username:`{{user.username}}`})


        function hasSomeParentTheId(element, id) {
            if (element.id == id) return true;
            return element.parentNode && hasSomeParentTheId(element.parentNode, id);
        }

        document.addEventListener('click', function (event) {

            // If the clicked element doesn't have the right selector, bail
            if (event.target && (event.target.id== 'logoutBtn' || hasSomeParentTheId(event.target,'logoutBtn') )){

                window.location = '/accounts/logout'    
                // Don't follow the link
                event.preventDefault();
            }
            if (event.target && (event.target.id== 'resetYesBtn' || hasSomeParentTheId(event.target,'resetYesBtn') )){
                window.profile.setState({resettingCard:true})
                 setTimeout(function(){
                     serviceSocket.send(JSON.stringify({
                            'type': 'changeNumber',
                            'serviceID':window.profile.state.toBresetCard.serviceID,
                            'value': 0
                        }))
                 },1000)
            }

        }, false);


        var serviceSocket = null;
        function connectSocket(){
            serviceSocket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/queue/services/');


            // changing card number based on websocket message
            serviceSocket.onmessage = function(e) {
                var data = JSON.parse(e.data);
                if (data.type=='changeNumber'){

                    if (profile.state.toBresetCard != null)
                    if (data.serviceID == profile.state.toBresetCard.serviceID)
                        profile.setState({resettingCard:false,resetModal:false})

                    for(var i =0;i<profile.state.managedServices.length;i++){
                        if (data.serviceID == profile.state.managedServices[i].id){
                            var newServicesState = profile.state.managedServices.map((service)=>{
                                if (service.id == data.serviceID){
                                    return {...service,currentNumber:data.value}
                                }else{
                                    return service
                                }
                            })

                            profile.setState({managedServices:newServicesState});
                        }
                    }
                }
            };
            serviceSocket.onclose = function(e) {
                connectSocket();
            };
        }
        connectSocket();


    </script>

    <style>
        body{
            margin:0px;
            background-color:#DEDEDE;
        }
        #chgPwdBtn{
            display:none;
        }
    </style>
</body>
</html>