.djQ_serviceCard{
    text-align: center;
    padding:0px !important;
}

.djQ_serviceName{
    margin:2px !important;
    font-weight: bold;
    font-family: serviceCardFont;
    color:#667171;
    padding-bottom:10px;
}

.djQ_serviceCurrentNumber{
    font-weight: bold;
    font-family: sans-serif;
    margin:5px;
}

.MuiAvatar-root-127{
    margin-left: calc(50% - 30px) !important;
    width: 60px !important;
    height: 60px !important;
    margin:5px;
}

body{
    margin:0px;
}

@font-face{
    font-family: serviceCardFont;
    src:url('HelveticaWorld-Bold.ttf');
}